<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MediaTek86.Properties.Settings.connectionString" connectionString="Server=localhost;Database=mediatek86;Uid=dbadmin;Pwd='61245fee';" />
    </connectionStrings>
</configuration>
